Create household:

curl -X POST http://127.0.0.1:5000/api/households -H "Content-Type: application/json" \
  -d '{"name":"Smith Household","postcode":"6000"}'


Add usage (water):

curl -X POST http://127.0.0.1:5000/api/household/1/usage -H "Content-Type: application/json" \
  -d '{"entry_type":"water","value":180}'


Add usage (energy):

curl -X POST http://127.0.0.1:5000/api/household/1/usage -H "Content-Type: application/json" \
  -d '{"entry_type":"energy","value":19.5}'
